streamlit==1.22.0
gTTS==2.3.1
pyttsx3==2.90
paddlepaddle==2.6.2  # You may need to verify the version suitable for PaddleOCR
paddleocr==2.6.1
pytesseract==0.3.10
google-generativeai==0.1.0  # Please confirm the version based on your usage
opencv-python==4.7.0.72
numpy==1.23.4
Pillow==8.4.0
